name: Gradle Snapshot

on:
  workflow_call:
    inputs:
      project:
        description: 'Project'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      project:
        description: 'Project'
        required: true
        type: choice
        options:
          - xtextasciidocplugin.parent
jobs:
  build:
    runs-on: [farhan5248-runners]
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Run Gradle
      working-directory: ./${{ inputs.project }}
      run: |
        gradle publish
      env:
        GITHUB_TOKEN: ${{ github.token }}
