name: Publish Sheep Dog Ops Snapshot

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]
    paths:
      - '.github/**'
      - '**/docker/**'
      - '**/src/**'
      - '**/pom.xml'
permissions:
  contents: write
  packages: write

jobs:
  sheep-dog-mgmt-maven-plugin:
    uses: farhan5248/sheep-dog-ops/.github/workflows/maven-snapshot.yml@main
    with:
      project: 'sheep-dog-mgmt-maven-plugin'
    secrets: inherit

  merge-into-main:
    needs: [sheep-dog-mgmt-maven-plugin]
    uses: farhan5248/sheep-dog-ops/.github/workflows/merge.yml@main
    with:
      source: 'develop'
      target: 'main'
    secrets: inherit
