name: Publish Sheep Dog Management Maven Plugin Release

on:
  workflow_dispatch:
permissions:
  contents: write
  packages: write
jobs:
  sheep-dog-test:
    uses: farhan5248/sheep-dog-ops/.github/workflows/release.yml@main
    with:
      project: 'sheep-dog-mgmt-maven-plugin'
      plugin: 'Maven'
    secrets: inherit
