name: Snapshot Docker

on:
  workflow_call:
    inputs:
      project:
        description: 'Project'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      project:
        description: 'Project'
        required: true
        type: choice
        options:
          - sheep-dog-dev-svc
          - sheep-dog-dev-svc-maven-plugin
          - sheep-dog-dev-mcp
jobs:
  build:
    runs-on: [farhan5248-runners, linux]
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Run Maven
      working-directory: ./${{ inputs.project }}
      run: |
        mvn -U deploy
      env:
        GITHUB_TOKEN: ${{ github.token }}
        MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}